<h1>{{title}}</h1>
<h3>Test</h3>
<hr/>

<form [formGroup]="testForm" (ngSubmit)="addTest()" #formDir="ngForm" novalidate>

    <div class="form-group row">
        <label class=" control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="name">
        </div>
        <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
            Name is required.
        </span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Location</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="location">
        </div>
        <span class="text-danger" *ngIf="location?.invalid && formDir.submitted">
            Location is required
        </span>
    </div>
    <hr/>
    <div class="form-group">
        <button type="submit" class=" btn btn-primary">Save</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>
